#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  bottom: 10vh;
  right: 5vh;
  font-family: inherit;
  position: fixed;
  background-color: ivory;
  color: black;
  cursor: pointer;
}